body{
     font-family: 'Roboto Light', "Roboto";
margin:0;
padding:0;
}

/*--------// Project Status CSS //---------*/
  .Project-status {width: 100%;background: #f2f2f2;min-height: 90px;}
        .Project-status ul{float:left; width:100%; height:60px; min-width:400px;}
        .Project-status ul li { list-style: none;display: inline-block; float: left; margin-right: 20px;margin: 15px 20px 0px 10px;height:60px;}
        .Project-status ul li label:nth-child(1){color:#363433; font-size:15px;margin-bottom: 10px;text-align: left; display: block}
        .Project-status ul li label:nth-child(2){color:#0181bd; font-size:28px; margin-bottom: 5px; text-align: left; display: block}
        .Project-status ul li:nth-child(2){border-right:1px solid #dedede}

/*--------// Add Bid Package CSS //----------- */


.in8-form-section {
            width: 650px;
        }

        .in8-form-section h4 {
            font-size: 24px;
            color: #333333;
            text-align: left;
            padding-bottom: 10px;
            border-bottom: 1px solid #333333;
        }

        .in8-form-row {
            width: 100%;
            float: left;
        }

        .in8-form-group {
            float: left;
            width: 50%;
            height: 87px;
            font-size: 12px;
            font-family: 'Roboto Light', "Roboto";
        }

        .in8-form-group label {
            width: 100%;
            margin-bottom: 5px;
            float: left;
        }

        .in8-form-group input[type="text"] {
            width: 300px;
            height: 30px;
        }

        .lblhint {
            color: #e2e4e8;
            font-size: 10px;
            padding: 2px;
        }

        .form-rightbtns {
            display: block;
            float: right;
            margin-bottom: 40px;
        }

/*        ------// Add WBS CSS //------- */

        .form-dialog-head {
            padding: 5px;
            display: block;
        }

        .form-dialog-inner {
            padding: 5px 22px;
        }

        .form-dialog-contenthead {
            display: block;
            background: #e8f6fb;
            padding: 10px 5px;

        }
        .Addwbs{width:500px;    height: 518px;
              border:1px solid #CCC;

        }

       #icon-right {
            height: 25px !important;
        }

        .inputsearch-right {
            position: relative;
            float: right;
            margin-top: -7px;
        }

        .k-button {
            padding: 10px 20px;
            border-radius: 5px;
            text-align: center;
            Font-Family: Roboto Regular;
            font-size: 14px;
            margin-top:20px;
            border:none;

        }

       .primary-bluebtn  {
            background: #0080bc;
            color: #fff;
        }
        .primary-bluebtn:hover{
            background:#3399C9;
            color:#fff;
        }
        .secondarybtn {
            background: #fff;
            color: #0080bc;
        }
        .secondarbtn:hover {
            background: #fff;
            color:#0080bc;

}
        .form-dialog-footer button:nth-child(even){
            margin-left:20px;
        }
